    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        font-size: 18px;
        font-family: 'Bai Jamjuree', sans-serif;
    }
    /*------------------------Header styling-----------------------------*/
    
    .hero-header {
        background-image: url("./images/bg-header-desktop.png");
        background-repeat: no-repeat;
    }
    
    .hero-heading {
        text-align: center;
        color: hsl(210, 10%, 33%);
        margin-top: 40px;
    }
    
    .hero-header-text {
        text-align: center;
        margin-top: 20px;
        color: hsl(201, 11%, 66%);
    }
    
    .hero-logo {
        text-align: center;
        padding-top: 100px;
    }
    
    .btn {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 50px;
    }
    
    .btn-primary {
        padding: 15px 40px 15px 40px;
        margin-right: 10px;
        background-color: hsl(171, 66%, 44%);
        color: hsl(0, 0%, 100%);
        border: none;
        border-radius: 25px;
        font-weight: 600;
    }
    
    .btn-secondary {
        padding: 15px 40px 15px 40px;
        background-color: hsl(233, 100%, 69%);
        color: hsl(0, 0%, 100%);
        border: none;
        border-radius: 25px;
        font-weight: 600;
    }
    /*------------------------ start of first-content-main styling-----------------------------*/
    
    .hero-first-content-header {
        text-align: center;
        color: hsl(210, 10%, 33%);
        margin-top: 140px;
    }
    
    .hero-first-content-text {
        text-align: center;
        margin-top: 40px;
        color: hsl(201, 11%, 66%);
    }
    
    .hero-first-content-main {
        display: flex;
        gap: 30px;
        margin-top: 100px;
    }
    
    .hero-first-content-main-content {
        padding-top: 60px;
    }
    
    .hero-first-content-main-content-heading {
        color: hsl(210, 10%, 33%);
        margin-top: 40px;
    }
    
    .hero-first-content-main-content-text {
        margin-top: 10px;
        color: hsl(201, 11%, 66%);
    }
    
    .main-img {
        margin-left: -10%;
    }
    /*------------------------ End of first-content-main styling-----------------------------*/
    /*------------------------ start  of first-content-main styling-----------------------------*/
    
    .hero-second-content-header {
        text-align: center;
        color: hsl(210, 10%, 33%);
        margin-top: 140px;
    }
    
    .hero-second-content-text {
        text-align: center;
        margin-top: 20px;
        color: hsl(201, 11%, 66%);
    }
    
    .hero-second-content-img {
        margin-top: 100px;
        text-align: center;
    }
    /*------------------------ End of second-content-main styling-----------------------------*/
    /*------------------------ Start of third-content-main styling-----------------------------*/
    
    .hero-third-content-header {
        text-align: center;
        color: hsl(210, 10%, 33%);
        margin-top: 30px;
    }
    
    .hero-third-content-text {
        text-align: center;
        margin-top: 20px;
        margin-left: 50px;
        font-size: 16px;
        color: hsl(201, 11%, 66%);
    }
    /*------------------------ End of third-content-main styling-----------------------------*/
    /*------------------------ Start of fourth-content-main styling-----------------------------*/
    
    .hero-fourth-content {
        margin-top: 60px;
        display: flex;
        padding: 40px 80px 40px 80px;
        gap: 20px;
    }
    
    .hero-fourth-content-header {
        text-align: center;
        color: hsl(210, 10%, 33%);
    }
    
    .hero-fourth-content-text {
        text-align: center;
        margin-top: 20px;
        color: hsl(201, 11%, 66%);
        line-height: 2.0rem;
    }
    
    .fourth-content-img {
        text-align: center;
        margin-bottom: 40px;
    }
    /*------------------------ End of fourth-content-main styling-----------------------------*/
    /*------------------------ Start of logo styling-----------------------------*/
    
    .hero-logos {
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
    }
    /*------------------------ End of logo styling-----------------------------*/
    /*------------------------ Start of content five styling-----------------------------*/
    
    .hero-content-five-heading {
        text-align: center;
        color: hsl(210, 10%, 33%);
        margin-top: 150px;
    }
    
    .hero-content-five-text {
        text-align: center;
        margin-top: 20px;
        color: hsl(201, 11%, 66%);
    }
    /*------------------------ End of content five styling-----------------------------*/
    /*------------------------ Start of footer styling-----------------------------*/
    
    .hero-footer {
        margin-top: 150px;
        background-color: hsla(201, 11%, 66%, 0.2);
        display: flex;
        padding: 50px;
        gap: 50px;
    }
    
    .hero-footer-text {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
        column-gap: 40px;
        margin-left: 100px;
    }
    
    .hero-footer-logo {
        margin-left: 100px;
    }
    
    .hero-footer-icons {
        position: relative;
        left: 300px;
        display: grid;
        grid-template-columns: repeat(3, minmax(10px, 40px));
        gap: 10px;
    }
    
    .footer-logo {
        height: 40px;
        width: 40px;
    }
    /*------------------------ End of footer styling-----------------------------*/
    
    .attribution {
        font-size: 11px;
        text-align: center;
    }
    
    .attribution a {
        color: hsl(228, 45%, 44%);
    }